 
    
    

.products-bg {

    background-image: url(them.jpg);
    background-attachment: fixed;
    

    }
.shoes-bg {
    background-image: url(them.jpg);
    background-attachment: fixed;
    
    

}
.Home materials-bg {
    background-image: url(them.jpg);
    background-attachment: fixed;
    
    
}
    .T-SHIRTS-bg {
        background-image: url(them.jpg);
        background-attachment: fixed;
    }
    .Other-bg {
        background-image: url(them.jpg);
        background-attachment: fixed;
    }
.School materials-bg {
    background-image: url(them.jpg);
    background-attachment: fixed;
}
.about-bg {
    background-image: url(you.jfif);
    background-attachment: fixed;
}

body {
    margin: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}



.topnav{
    overflow: hidden;
    background-color: rgb(0, 0, 0);

    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 50%;
    
    

}
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 60px;
     text-decoration: none ;
     font-size: 24px;
     border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
     
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}
.topnav a.active{
    background-color: #ff7b00;
    color: white;

}
body{
    padding: 6px;
}

.search{
    width: 330px;
    float: right;
    margin-left: 300px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: bolder;
    padding: 12px 24px;
}

.srch{
    font-family: Arial;
    width: 180px;
    height: 40px;
    background: transparent;
    border: 2px solid orange;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 0px;
    
}
.btn{
    
    width: 100px;
    height: 40px;
    background: orange;
    border: rgb(0, 0, 0);
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 0px;
    
    
}


.btn:focus{
    outline: none;

}
.srch:focus{
    outline: none;
}
.content{
    width: 2300px;
    height: auto;
    margin: auto;
    color: rgb(230, 222, 222);
    position: relative;

}
.content .par{
    padding-left: 0px;
    padding-bottom: 25px;
    font-family: cursive;
    font-size: 50PX;
    letter-spacing: 1.2px;
    line-height: 8px;
}
.content h1{
    font-family:  'Times New Roman';
    font-size: 120px;
    padding-left: 2px;
    margin-top: 2%;
    letter-spacing: 2px
}

    

.about-section{
    padding: 30px;
    text-align: center;
    background-color: #474e5d;
    color: #ddd;
    font-family: Arial;
    font-size: 80%;
    color: white;
    background-color: rgb(17, 16, 16);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    opacity: 70%;
    
    
}
.container{
    padding: 0 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;

}
.title{
    color: rgb(163, 95, 62);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 24px;
    float: inherit;
    text-align: center;
}

.button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px;
    color: white;
    background-color: rgb(170, 114, 50);;
    text-align: center;
    line-height: 8px;
    cursor: pointer;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
.button:hover {
    background-color: rgb(25, 100, 185);
}
@media screen and (max-width:650px)
{
    .column{
        display: block;
    }
}
html{
    box-sizing: border-box;
}
*,*:before, *:after {
    box-sizing: initial;
}
.column{
    float: left;
    width: 50%;
    margin-bottom: 24px;
    padding: 90%px;

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 8px;
    
}
img{
    position: inherit;
align-content: center;
opacity: 100%;
border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
width: 40%;
    
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: orange;
    font-size: 20px;
font-weight: bolder;
}
.contact-bg {
    background-image: url(R.jfif);
    color: blanchedalmond;
    
}
* {box-sizing: border-box;}
input[type=text], select,textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background: transparent;
    
}
input[type=submit] {
    background-color: #e25d11;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    opacity: 100%;
}
input[type=submit]:hover {
    background-color: #45a049;
}
input[type=text] {
    color: white;
    font-size: 18px;
}
textarea {
    color: white;
    font-size: 18px;
}
.container {
    border-radius: 30px;
    background: rgb(39, 33, 33);
    padding: 20px;
    opacity: 0.7;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: honeydew;
    color: white;
    font-weight: bolder;
}

h3 {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 40px;
    padding: 8px;
}
.card {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
max-width: 800px;
margin: auto;
text-align: center;
font-family: Arial;
color: rgb(243, 231, 231);
border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.price {
    color: rgb(255, 102, 0);
    font-size: 22px;

    
}
.card button {
    border: none;
    padding:12px;
    background-color: darkorange;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: cursive;
    opacity: 1;
}
.card button:hover {
    opacity: 0.7;
    color: rgb(255, 0, 0);
    
}
.products-section {
    padding: 30px;
    text-align: center;
    background-color: #474e5d;
    color: #ddd;
    font-family: Arial;
    font-size: 80%;
    color: rgb(180, 83, 27);
    background-color: rgb(17, 16, 16);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    opacity: 50%;
    padding: auto;
    
}
.navbar button {
    cursor: pointer;
    padding: 18px 18px;
    font-weight: bolder;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    background: grey;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
color: rgb(192, 113, 67);
margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.topnav :active:hover {
    background-color: rgb(66, 172, 83);
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0.8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 24px;
    text-decoration: none;
    font-size: 20px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
   
}
.navbar a:hover {
    background: rgb(247, 100, 2);
    color: black;
}
.logo {
    float: right;
    font-weight: bolder;
    font-size: 8px;
}
.logo a.active {
    background-color: rgb(19, 221, 137);
    color: white;
}
.footer {
    padding-top: 16%;
    color: white;
    font-size: 12px;
    padding-bottom: 0px;
}
.dating {
    width: fit-content;
    
}

body {
    background-image: url("DARK.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

